head {}

body {
		background-color: #00CCFF
        font-family: 'Merriweather', serif;
  font-size: 16px;
      }
link
nav
head
title
h1
h2
article
table
p 
a href (link)
iframe (video)
section
table
form
list
block quote

html, body, div {margin: 6; padding: 6; border: 6; font-size: 100%; vertical-align: baseline;}

a:link {color: blue;
		background-color: transparent;
		text-decoration: none}
a:visited {color: red ;
			background-color: 
			transparent;text-decoration: none}
a:hover {color: green ;
		background-color: transparent;
		text-decoration: underline}
a:Active {color: yellow ;
			background-color: transparent;
			text-decoration: underline}

h1, h2, h3, h4 {font-style: Arimo, Verdana, sans-serif}

h1 {font:16px; font-style: bold}
h2 {font:18px; font-style: bold}
h3 {font:12px;}
h4 {font: 12px; font-style: italics}

p {style="text-align: left;" 
	align="center;"
	font-style: Arimo, Verdana, sans-serif"}

img



#header {}

#nav-menu {}

#main-content {}